{% extends "jobs/job_base.html" %}

{% block title %}Jobs{% endblock %}

{% block content %}
	{% if job_list %}
		<ul>
			{% for job in job_list %}
				<li><a href="{% url 'jobs:job_detail' job.id %}">{{ job.client}} | {{ job.address }} | Consultation on {{ job.consultation_date }}</a>
					<button type="button" value="Edit" 
					onclick="location.href='{% url 'jobs:job_update' job.id %}';">Edit</button></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No jobs are started.</p>
	{% endif %}
{% endblock %}
